<div ng-app="spaceAlertModule">
    <div class="container-fluid body-content" >
        <route-loading-indicator></route-loading-indicator>
        <div ng-if="!isRouteLoading" ng-view=""></div>
    </div>
</div>

<script type="text/ng-template" id="templates/Input">
    <partial name="Templates/Input" />
</script>
<script type="text/ng-template" id="templates/Resolution">
    <partial name="Templates/Resolution" />
</script>